@use 'variables'as *;
@use 'mixin'as *;

.navigation {
    display: flex;
    align-items: center;
    column-gap: 56px;

    &-menu {
        display: flex;
        column-gap: 56px;

        @include mq(sp) {
            align-items: center;
            flex-flow: column;
            row-gap: 42px;
        }

        &__link {
            font-family: $lora;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.mobile-menu {
    display: none;

    @include mq(sp) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        height: 60px;
        width: 60px;
        background-color: rgba($color: #000000, $alpha: .4);
    }

    &-icon {
        display: flex;
        align-items: center;
        flex-flow: column;
        row-gap: 8px;
    }

    &__border {
        height: 1px;
        width: 32px;
        background-color: $text-2;
    }

    &__text {
        color: $text-2;
        font-size: 10px;
    }

}

.section-head {
    margin-bottom: 72px;

    @include mq(sp) {
        margin-bottom: 48px;
    }

    &__small {
        margin-bottom: 1em;
        font-size: 16px;

        @include mq(sp) {
            font-size: 14px;
            margin-bottom: 7px;
        }
    }

    &__large {
        font-size: 36px;
        font-weight: 500;

        @include mq(sp) {
            font-size: 24px;
        }
    }

    &--gold {
        color: $main;
    }
}

.btn {
    display: inline-block;
    height: 42px;
    width: 207px;
    border-radius: 4px;
    font-family: $sans;
    font-size: 14px;
    line-height: 42px;
    text-align: center;

    .fa-envelope {
        position: relative;
        top: 2px;
        margin-right: 7px;
        font-size: 20px;
    }

    &-primary {

        &--gold {
            background-color: $main;
            color: $text-2;
            transition: all 1s ease;

            &:hover {
                position: relative;
                top: 2px;
                background-color: $base-1;
                color: $main;
            }
        }

        &--black {
            background-color: $text-1;
            color: $text-2;
            transition: all 1s ease;

            &:hover {
                position: relative;
                top: 2px;
                background-color: $text-2;
                color: $text-1;
            }
        }
    }

    &-secondary {

        &--gold {
            border: 1px solid $main;
            color: $main;
            transition: all 1s ease;

            &:hover {
                position: relative;
                top: 2px;
                border: none;
                background-color: $main;
                color: $text-2;
            }
        }
    }
}

// ページトップボタン
.page-top {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: $main;
    text-align: center;
    box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: .4);
    transition: all .3s ease;

    @include mq(sp) {
        right: 10px;
        bottom: 10px;
        height: 48px;
        width: 48px;
    }

    &:hover {
        bottom: 38px;
        box-shadow: none;

        @include mq(sp) {
            bottom: 10px;
        }
    }

    .fa-angle-up {
        color: $text-2;
        font-size: 20px;
        line-height: 60px;

        @include mq(sp) {
            font-size: 14px;
            line-height: 48px;
        }
    }
}

.dark-mode {
    position: fixed;
    left: 40px;
    bottom: 40px;
    z-index: 1;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    background-color: $text-2;
    text-align: center;
    box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: .4);
    transition: all .3s ease;

    @include mq(sp){
        // display: none;
        right: 12.5px;
        bottom: 70px;
        left: initial;
    }

    &:hover {
        bottom: 38px;
        box-shadow: none;
        @include mq(sp){
            bottom: 70px;
        }
    }

    .fa-moon {
        display: none;
        color: $text-1;
        font-size: 14px;
        line-height: 44px;
    }

    .fa-lightbulb{
        display: none;
        color: $text-1;
        font-size: 14px;
        line-height: 44px;
    }
}