// color 
$main: #6E551B;
$base-1: #FFFFFF;
$base-2: rgba(#6E551B,.2);
$text-1: #323232;
$text-2: #FFFFFF;

// dark mode
$dark-mode-bg: #000000;
$dark-mode-text: #DDDDDD;


// font 
$lora: 'Lora', serif;
$sans: 'Noto Sans JP', sans-serif;
$serif: 'Noto Serif JP', serif;
