@use 'reset';
@use 'variables'as *;
@use 'common';
@use 'modules';
@use 'mixin'as *;
@use 'header';
@use 'footer';
@use 'dark-mode';
@use 'modal';

.main-visual {
    height: 100vh;
    width: 100%;
    background: url(../img/photo01.jpg) center center no-repeat;
    background-size: cover;
}

// CONCEPT
.concept {
    background-color: $base-2;

    &-primary {
        display: flex;
        margin-bottom: 90px;

        @include mq(sp) {
            display: block;
            margin-bottom: 48px;
        }

        .colum-first {
            width: 50%;

            @include mq(sp) {
                width: 100%;
            }
        }

        .colum-second {
            position: relative;
            height: 600px;
            width: 50%;

            @include mq(sp) {
                height: calc((100vw - 30px) + 25vw);
                width: 100%;
            }

            &__photo1 {
                position: absolute;
                top: 0;
                right: 0;
                width: 81.8182%;
                aspect-ratio: 1/1;
                object-fit: cover;

                @include mq(sp) {
                    left: 0;
                    right: initial;
                    width: calc(100vw - 30px);
                }
            }

            &__photo2 {
                position: absolute;
                bottom: 0;
                width: 54.5455%;
                aspect-ratio: 1/1;
                object-fit: cover;

                @include mq(sp) {
                    left: -30px;
                    width: 50vw;
                }
            }
        }
    }

    &-secondary {
        display: flex;
        align-items: center;

        @include mq(sp) {
            flex-flow: column-reverse;
        }

        .colum-first {
            width: 50%;

            @include mq(sp) {
                width: 100%;
            }

            &__photo {
                width: 100%;
                aspect-ratio: 4/3;
                object-fit: cover;
            }
        }

        .colum-second {
            width: 50%;
            padding-left: 100px;

            @include mq(sp) {
                width: 100%;
                padding-left: initial;
            }
        }
    }

    &-article {
        &__head {
            margin-bottom: 1em;
            font-weight: 500;

            @include mq(sp) {
                margin-bottom: 24px;
                font-size: 20px;
            }
        }

        &__text {
            line-height: 2;

            @include mq(sp) {
                margin-bottom: 48px;
                line-height: 1.75;
            }
        }
    }
}

// WORKS
.works {
    &.section {
        padding-bottom: 0;
    }

    .section-head {
        text-align: center;
    }

    &-item {
        display: flex;

        @include mq(sp) {
            flex-wrap: wrap;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 25%;
        aspect-ratio: 1/1;
        object-fit: cover;

        @include mq(sp) {
            width: 50%;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: .4);
            transition: background-color .5s linear;
        }

        &:hover:before {
            background-color: initial;
        }

        &__title {
            z-index: 0;
            color: $text-2;
            font-size: 24px;

            @include mq(sp) {
                font-size: 16px;
            }
        }
    }

    &-img1 {
        background: url(../img/photo05.jpg) center center no-repeat;
        background-size: cover;
    }

    &-img2 {
        background: url(../img/photo03.jpg) center center no-repeat;
        background-size: cover;

    }

    &-img3 {
        background: url(../img/photo06.jpg) center center no-repeat;
        background-size: cover;

    }

    &-img4 {
        background: url(../img/photo02.jpg) center center no-repeat;
        background-size: cover;

    }
}

// NEWS
.news {
    .contents-container {
        @include mq(sp) {
            padding-right: 0;
        }
    }

    &-list {
        display: flex;
        column-gap: 36px;
        margin-bottom: 72px;

        @include mq(sp) {
            column-gap: 15px;
            margin-bottom: 48px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &-article {
        width: calc((100% - 72px) / 3);

        @include mq(sp) {
            flex-shrink: 0;
            width: 59.2307692vw;
        }

        .picture-frame {
            width: 100%;
            aspect-ratio: 4/3;
            margin-bottom: 18px;
            overflow: hidden;

            @include mq(sp) {
                aspect-ratio: 16/9;
                margin-bottom: 11px;
            }
        }

        &__img {
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
            transition: transform .5s linear;

            @include mq(sp) {
                aspect-ratio: 16/9;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        &__date {
            margin-bottom: 18px;
            font-family: $sans;

            @include mq(sp) {
                margin-bottom: 11px;
                font-size: 10px;
            }
        }

        &__title {
            margin-bottom: 9px;
            font-family: $sans;
            font-weight: 500;

            @include mq(sp) {
                margin-bottom: 11px;
                font-size: 14px;
            }
        }

        &__excerpt {
            line-height: 1.5;

            @include mq(sp) {
                font-size: 12px;
            }
        }
    }

    .btn-wrap {
        text-align: center;

        @include mq(sp) {
            padding-right: 30px;
        }
    }
}

// SHOW ROOM
.show-room {
    position: relative;
    background: url(../img/photo01.jpg) center center no-repeat;
    background-size: cover;
    color: $text-2;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .4);
    }

    .contents-container {
        position: relative;
        z-index: 0;
    }

    .section-head {
        margin-bottom: 90px;
        text-align: center;

        @include mq(sp) {
            margin-bottom: 45px;
        }
    }

    &__text {
        margin-bottom: 90px;
        font-size: 16px;
        text-align: center;

        @include mq(sp) {
            margin-bottom: 45px;
            font-size: 14px;
        }
    }

    .room-list {
        display: flex;
        column-gap: 36px;

        @include mq(sp) {
            flex-flow: column;
            row-gap: 24px;
        }
    }

    .room-article {
        width: 50%;

        @include mq(sp) {
            width: 100%;
        }
    }

    .room {
        padding: 36px;
        border: 1px solid $text-2;

        @include mq(sp) {
            padding: 24px 24px 32px
        }

        &__img {
            width: 100%;
            margin-bottom: 36px;

            @include mq(sp) {
                margin-bottom: 16px;
            }
        }

        &__name {
            margin-bottom: 18px;
            font-family: $sans;
            font-weight: 500;
            font-size: 18px;

            @include mq(sp) {
                margin-bottom: 16px;
                font-size: 16px;
            }
        }

        &__address {
            margin-bottom: 1em;
            font-family: $sans;

            @include mq(sp) {
                margin-bottom: 8px;
                font-size: 12px;
            }
        }

        &__time {
            margin-bottom: 2em;
            font-family: $sans;

            @include mq(sp) {
                margin-bottom: 32px;
                font-size: 12px;
            }
        }

        .btn {
            @include mq(sp) {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

// Call to action
.cta {
    position: relative;
    padding: 90px 0;
    background: url(../img/photo010.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
    }

    &__text {
        position: relative;
        z-index: 0;
        margin-bottom: 3em;
        color: $text-2;
        font-size: 16px;
        font-weight: 600;

        @include mq(sp) {
            margin-bottom: 48px;
            font-size: 14px;
            line-height: 1.5;
        }
    }

    .btn {
        position: relative;
        z-index: 0;
    }
}